.card_02 {
  width: 327px;
  height: 240px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.card_02 .heard {
  position: absolute;
  top: 24px;
  right: 24px;
}

.card_02 .car-basic-info {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 12px;
}

.card-image_02 {
  width: 160px;
  height: 64px;
  display: flex;
  justify-content: center;
}

.parameters {
  display: flex;
  align-content: stretch;
  flex-direction: column;
}

.card_02 .details_02 {
  display: flex;
  justify-content: space-between;
}

.card-footer_02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}
