.car-basic-info {
  display: inline-block;
  width: auto;
  max-width: fit-content;
}

.car-basic-info__name {
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary-500);
}

.car-basic-info__type {
  font-size: 14px;
  font-weight: 700;
  color: var(--secondary-300);
}
