.select-date-picker {
  display: flex;
  padding-top: 10px;
}

.select-date-input {
  font-weight: 500;
  font-size: 12px;
  width: 112px;
  border: none;
  color: var(--secondary-300);
}

.select-date-button {
  border: none;
  background-color: var(--primary-0);
  font-size: 14px;
}
