.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categories-name-grid {
  padding: 10px 20px;
  color: var(--secondary-300);
  font-size: 16px;
  font-weight: 600;
  max-width: fit-content;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.button-more-car {
  display: flex;
  justify-content: center;
}
