.price {
}

.price__value {
  font-size: 20px;
  font-weight: 700;
}

.price__day {
  color: var(--secondary-300);
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .price__value {
    font-size: 16px;
  }

  .price__day {
    font-size: 12px;
  }
}
