.card {
  width: 304px;
  height: 388px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.card > .heard {
  position: absolute;
  top: 24px;
  right: 24px;
}

.card > .car-basic-info {
  position: relative;
  margin-bottom: 50px;
  left: 12px;
}

.card > .image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 28px;
}

.card .details {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  font-size: 24px;
  left: 24px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
