.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-weight: 500;
  border: none;
  gap: 6px;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-size-small {
  height: 29px;
  border-radius: 4px;
  padding: 0 16px;
}

.button-size-medium {
  height: 37px;
  border-radius: 4px;
  padding: 0 16px;
}

.button-size-large {
  height: 52px;
  border-radius: 4px;
  padding: 0 24px;
}

.button-primary {
  background-color: var(--primary-500);
  color: var(--primary-0);
}

.button-primary:hover {
  background-color: var(--primary-500);
}

.button-primary:active {
  background-color: var(--primary-700);
}

.button-primary:focus {
  background-color: var(--primary-500);
  border: 1px solid #e7defe;
}

.button-primary:disabled {
  background-color: var(--primary-500);
  color: var(--primary-0);
}

.button-secondary {
  border: 1px solid var(--secondary-300);
  background-color: var(--primary-0);

  color: var(--secondary-400);
}

.button-secondary:hover {
  background-color: var(--primary-0);
  color: var(--secondary-500);
}

.button-secondary:active {
  background-color: var(--secondary-100);
  color: var(--secondary-500);
}

.button-secondary:focus {
  background-color: var(--secondary-400);
}

.button-secondary:disabled {
  background-color: var(--primary-0);
  color: var(--secondary-400);
  border-color: var(--primary-100);
}

.button-minimal {
  background-color: transparent;
  color: var(--secondary-200);
  border: 4px;
}

.button-minimal:hover {
  background-color: var(--primary-0);
  color: var(--secondary-500);
}

.button-minimal:active {
  background-color: var(--primary-100);
  color: var(--secondary-500);
}

.button-minimal:focus {
  background-color: var(--secondary-200);
  color: var(--secondary-500);
}

.button-minimal:disabled {
  color: var(--secondary-400);
}
