.fuel-capacity {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
}

.fuel-capacity__icon {
  font-size: 24px;
}

.fuel-capacity__text {
  color: var(--secondary-300);
  font-size: 14px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .fuel-capacity__text {
    font-size: 12px;
    font-weight: 500;
  }

  .fuel-capacity__icon {
    font-size: 14px;
  }
}
