.pick-date {
    position: relative;
    display: flex;
    align-items: center;
    gap: 44px;
    margin-bottom: 36px;
}


@media (max-width: 1025px) {
    .pick-date {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

    .button-pick {
        position: absolute;
        height: 60px;
        width: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
    }
}