* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --primary-0: #ffffff;
  --primary-100: #d6e4fd;
  --primary-200: #aec8fc;
  --primary-300: #85a8f8;
  --primary-400: #658df1;
  --primary-500: #3563e9;
  --primary-600: #264bc8;
  --primary-700: #1a37a7;
  --primary-800: #102587;
  --primary-900: #0a196f;
  --secondary-100: #e0e9f4;
  --secondary-200: #c3d4e9;
  --secondary-300: #90a3bf;
  --secondary-400: #596780;
  --secondary-500: #1a202c;
  --secondary-600: #131825;
  --secondary-700: #0d121f;
  --secondary-800: #080c19;
  --secondary-900: #040815;
}

.container {
  width: 100%;
  padding: 5px;
  font-family: sans-serif;
}

.batton-tabel {
  border-collapse: collapse;
}

.batton-tabel th {
  padding: 10px;
  text-align: center;
}
.batton-tabel td {
  padding: 10px;
  text-align: center;
}
